thead {
    background-color: #29363D; 
    color: #FFF;

    th {
        text-align: center;
    }
}

.modal-dialog {
    margin: 1.75rem 7rem !important;

    .modal-content {
        width: 140%;
    }
}

.invalid-message {
    width: 100%;
    margin-top: 0.25rem;
    font-size: 80%;
    color: #f86c6b;
}