thead {
    background-color: #29363D; 
    color: #FFF;

    th {
        text-align: center;
    }
}

.modal-dialog {
    margin: 1.75rem 7rem !important;

    .modal-content {
        width: 140%;
    }
}
