<!--/.row-->
<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-header">
                <i class="fa fa-align-justify"></i> Danh sách quyền
            </div>
            <div class="card-body">
                <div class="row mb-2">
                    <div class="col-4">
                        <div class="input-group">
                            <span class="input-group-prepend">
                                <button type="button" class="btn btn-primary" tooltip="Tìm kiếm">
                                    <i class="fa fa-search"></i>
                                </button>
                            </span>
                            <input type="text" class="form-control" placeholder="Nhập từ khóa cần tìm" (keyup)="search($event)">
                        </div>
                    </div>
                    <div class="col-8">
                        <button type="button" (click)="showAddNew()" class="btn btn-success float-right">
                            <i class="fa fa-plus"></i> Thêm mới
                        </button>
                    </div>
                </div>
                <table class="table table-bordered table-hover">
                    <thead>
                        <tr>
                            <th style="width: 40%">Tên quyền</th>
                            <th style="width: 45%">Mô tả</th>
                            <th style="width: 15%">Hành động</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngIf="!(totalRow); else hasData">
                            <td colspan="3" class="text-center text-danger">Không tìm thấy dữ liệu.</td>
                        </tr>
                        <ng-template #hasData>
                            <tr *ngFor="let item of roles">
                                <td>{{item.Name}}</td>
                                <td>{{item.Description}}</td>
                                <td class="cell-center">
                                    <button type="button" (click)="showPermission(item.Id)" class="btn btn-warning btn-sm" tooltip="Phân quyền">
                                        <i class="fa fa-eye-slash"></i>
                                    </button>
                                    <button type="button" (click)="showEdit(item.Id)" class="btn btn-primary btn-sm" tooltip="Sửa">
                                        <i class="fa fa-pencil"></i>
                                    </button>
                                    <button type="button" (click)="delete(item.Id)" class="btn btn-danger btn-sm" tooltip="Xóa">
                                        <i class="fa fa-trash"></i>
                                    </button>
                                </td>
                            </tr>
                        </ng-template>
                    </tbody>
                    <tfoot *ngIf="!(totalRow === 0)">
                        <tr>
                            <td colspan="3">Đang xem {{firstRow}} đến {{lastRow}} trong tổng số {{totalRow}} mục</td>
                        </tr>
                    </tfoot>
                </table>
                <div class="row" *ngIf="!(totalRow === 0)">
                    <div class="col-6 d-flex flex-row justify-content-start align-items-center">
                        <div>Hiển thị:</div>
                        <select class="form-control mx-1" style="width: 6rem;" [(ngModel)]="lengthMenu" (change)="changeLengthMenu($event)">
                            <option value="10" selected>10</option>
                            <option value="20">20</option>
                            <option value="50">50</option>
                            <option value="100">100</option>
                            <option value="-1">Tất cả</option>
                        </select>
                        <div class="float-left">mục</div>
                    </div>
                    <div class="col-6 d-flex flex-row justify-content-end align-items-center">
                        <pagination *ngIf="!(pageCount <= 1)" [boundaryLinks]="true" [itemsPerPage]="pageSize" [maxSize]="pageDisplay" (pageChanged)="pageChanged($event)"
                            [totalItems]="totalRow" [(ngModel)]="pageIndex" class="pagination-md" previousText="&lsaquo;" nextText="&rsaquo;"
                            firstText="&laquo;" lastText="&raquo;"></pagination>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--/.col-->
</div>

<role-modal-add-edit #roleModalAddEdit (saveChangesResult)="saveChanges($event)"></role-modal-add-edit>
<role-modal-permission #roleModalPermission></role-modal-permission>