<!--/.row-->
<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-header">
                <i class="fa fa-align-justify"></i> Danh sách quyền
            </div>
            <div class="card-body">
                <div class="row my-2">
                    <div class="col-6"></div>
                    <div class="col-6">
                        <button type="button" (click)="showAddNew()" class="btn btn-success float-right">
                            <i class="fa fa-plus"></i> Thêm mới
                        </button>
                    </div>
                </div>
                <table class="table table-striped table-bordered table-hover">
                    <thead>
                        <tr>
                            <th style="width: 40%">Tên quyền</th>
                            <th style="width: 50%">Mô tả</th>
                            <th style="width: 10%">Hành động</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngIf="!((roles$ | async)?.length); else hasData">
                            <td colspan="3" class="text-center text-danger">Không có dữ liệu</td>
                        </tr>
                        <ng-template #hasData>
                            <tr *ngFor="let item of roles$ | async">
                                <td>{{item.Name}}</td>
                                <td>{{item.Description}}</td>
                                <td>
                                    <button type="button" (click)="showEdit(item.Id)" class="btn btn-primary btn-sm" tooltip="Sửa">
                                        <i class="fa fa-pencil"></i>
                                    </button>
                                    <button type="button" (click)="delete(item.Id)" class="btn btn-danger btn-sm" tooltip="Xóa">
                                        <i class="fa fa-trash"></i>
                                    </button>
                                </td>
                            </tr>
                        </ng-template>
                    </tbody>
                    <tfoot>
                        <tr>
                            <td colspan="3">Tổng số:
                                <strong>{{((roles$ | async)?.length)}}</strong> bản ghi</td>
                        </tr>
                    </tfoot>
                </table>
                <div class="d-flex flex-row justify-content-between">
                    <div>
                        <select class="form-control">
                            <option>sadad</option>
                            <option>sadad</option>
                            <option>sadad</option>
                        </select>
                    </div>
                    <div>
                        <nav aria-label="Page navigation example">
                            <ul class="pagination">
                                <li class="page-item">
                                    <a class="page-link" href="#">Previous</a>
                                </li>
                                <li class="page-item">
                                    <a class="page-link" href="#">1</a>
                                </li>
                                <li class="page-item">
                                    <a class="page-link" href="#">2</a>
                                </li>
                                <li class="page-item">
                                    <a class="page-link" href="#">3</a>
                                </li>
                                <li class="page-item">
                                    <a class="page-link" href="#">Next</a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--/.col-->
</div>

<div bsModal #modalAddEdit="bs-modal" [config]="{backdrop: 'static'}" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">{{modalTitle}}</h4>
                <button type="button" class="close" (click)="modalAddEdit.hide()" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form class="form-horizontal" [formGroup]="roleForm" (ngSubmit)="onSubmitForm()" novalidate>
                <input type="hidden" formControlName="Id">

                <div class="modal-body">
                    <div class="form-group row">
                        <label class="col-md-2 col-form-label" for="txtName">Tên quyền</label>
                        <div class="col-md-10">
                            <input type="text" id="txtName" class="form-control" formControlName="Name" [ngClass]="{
                                'is-valid': !roleForm.controls['Name'].errors,
                                'is-invalid': roleForm.controls['Name'].errors && (roleForm.controls['Name'].dirty || roleForm.controls['Name'].touched)
                              }">

                            <div class="invalid-feedback">
                                <div *ngIf="roleForm.get('Name').hasError('required')">
                                    Vui lòng nhập tên quyền.
                                </div>
                                <div *ngIf="roleForm.get('Name').hasError('maxlength')">
                                    Vui lòng nhập tên quyền không quá 50 ký tự.
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-md-2 col-form-label" for="txtDescription">Mô tả</label>
                        <div class="col-md-10">
                            <textarea id="txtDescription" class="form-control" formControlName="Description" [ngClass]="{
                                'is-valid': !roleForm.controls['Description'].errors,
                                'is-invalid': roleForm.controls['Description'].errors && (roleForm.controls['Description'].dirty || roleForm.controls['Description'].touched)
                              }"></textarea>
                            <div class="invalid-feedback">
                                <div *ngIf="roleForm.get('Description').hasError('required')">
                                    Vui lòng nhập mô tả.
                                </div>
                                <div *ngIf="roleForm.get('Description').hasError('maxlength')">
                                    Vui lòng nhập mô tả không quá 100 ký tự.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" (click)="modalAddEdit.hide()">Hủy</button>
                    <button type="submit" [disabled]="roleForm.invalid" class="btn btn-primary">Lưu</button>
                </div>
            </form>
        </div>
    </div>
</div>