<div class="app flex-row align-items-center">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-5">
        <div class="card-group">
          <div class="card p-4">
            <div class="card-body">
              <h1>Đăng nhập</h1>
              <p class="text-muted">Đăng nhập vào tài khoản của bạn</p>
              <form [formGroup]="loginForm" (ngSubmit)="onSubmitForm()" novalidate autocomplete="off">
                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text">
                      <i class="icon-envelope"></i>
                    </span>
                  </div>
                  <input type="email" class="form-control" placeholder="Email" formControlName="email" autofocus [ngClass]="{
                    'is-valid': !loginForm.controls['email'].errors,
                    'is-invalid': loginForm.controls['email'].errors && (loginForm.controls['email'].dirty || loginForm.controls['email'].touched)
                  }">
                  <div class="invalid-feedback">
                    <div *ngIf="loginForm.get('email').hasError('required')">
                      Vui lòng nhập email.
                    </div>
                    <div *ngIf="loginForm.get('email').hasError('email') && !loginForm.get('email').hasError('required')">
                      Vui lòng nhập email hợp lệ.
                    </div>
                    <div *ngIf="loginForm.get('email').hasError('maxlength')">
                      Vui lòng nhập email không quá 50 ký tự.
                    </div>
                  </div>
                </div>
                <div class="input-group mb-4">
                  <div class="input-group-prepend">
                    <span class="input-group-text">
                      <i class="icon-lock"></i>
                    </span>
                  </div>
                  <input type="password" class="form-control" placeholder="Mật khẩu" formControlName="password" [ngClass]="{
                    'is-invalid': loginForm.controls['password'].errors && (loginForm.controls['password'].touched || loginForm.controls['password'].dirty),
                    'is-valid': !loginForm.controls['password'].errors 
                  }">
                  <div class="invalid-feedback">
                    <div *ngIf="loginForm.get('password').hasError('required')">
                      Vui lòng nhập mật khẩu.
                    </div>
                    <div *ngIf="loginForm.get('password').hasError('minlength')">
                      Vui lòng nhập mật khẩu ít nhất 6 ký tự.
                    </div>
                    <div *ngIf="loginForm.get('password').hasError('maxlength')">
                      Vui lòng nhập mật khẩu không quá 20 ký tự.
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-6">
                    <button [disabled]="loginForm.invalid" type="submit" class="btn btn-primary px-4">Đăng nhập</button>
                  </div>
                  <div class="col-6 text-right">
                    <button type="button" class="btn btn-link px-0">Quên mật khẩu?</button>
                  </div>
                </div>
                <ng4-loading-spinner> </ng4-loading-spinner>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>