<!--/.row-->
<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-header">
                <i class="fa fa-align-justify"></i> Danh sách thể loại sản phẩm
            </div>
            <div class="card-body">
                <div class="row my-2">
                    <div class="col-4">
                        <div class="input-group">
                            <span class="input-group-prepend">
                                <button type="button" class="btn btn-primary">
                                    <i class="fa fa-search"></i> Tìm kiếm</button>
                            </span>
                            <input type="text" class="form-control" placeholder="Nhập từ khóa" (keyup)="search($event.target.value, tree.treeModel)">
                        </div>
                    </div>
                    <div class="col-8">
                        <button type="button" (click)="showAddNew()" class="btn btn-success float-right">
                            <i class="fa fa-plus"></i> Thêm mới
                        </button>
                    </div>
                </div>
                <hr />
                <div>
                    <tree-root #tree [nodes]="productCategoryHierarchies" [options]="options">
                        <ng-template #treeNodeTemplate let-node let-index="index">
                            <span>{{ node.data.Name }}</span>
                            <button class="btn btn-sm btn-primary" (click)="showEdit(node.data.Id)">
                                <i class="fa fa-pencil" aria-hidden="true"></i>
                            </button>
                            <button class="btn btn-sm btn-danger" (click)="delete(node.data.Id)">
                                <i class="fa fa-trash" aria-hidden="true"></i>
                            </button>
                        </ng-template>
                    </tree-root>
                </div>
            </div>
        </div>
    </div>
    <!--/.col-->
</div>

<div bsModal #modalAddEdit="bs-modal" [config]="{backdrop: 'static'}" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">{{modalTitle}}</h4>
                <button type="button" class="close" (click)="modalAddEdit.hide()" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form class="form-horizontal" [formGroup]="productCategoryForm" (ngSubmit)="onSubmitForm()" novalidate>
                <input type="hidden" formControlName="Id" value="0">
                <input type="hidden" formControlName="SeoAlias" [value]="seoAlias">

                <div class="modal-body">
                    <div class="form-group row">
                        <label class="col-md-2 col-form-label" for="txtAlias">Đường dẫn SEO:</label>
                        <div class="col-md-10 d-flex align-items-center">
                            <a href="javascript:void(0)" id="txtAlias">
                                {{baseApi}}/{{seoAlias}}
                            </a>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-md-2 col-form-label" for="txtName">Tên thể loại:</label>
                        <div class="col-md-10">
                            <input type="text" id="txtName" class="form-control" formControlName="Name" [ngClass]="{
                              'is-valid': !productCategoryForm.controls['Name'].errors,
                              'is-invalid': productCategoryForm.controls['Name'].errors && (productCategoryForm.controls['Name'].dirty || productCategoryForm.controls['Name'].touched)
                            }" (keyup)="makeSeoAlias($event.target.value)">

                            <div class="invalid-feedback">
                                <div *ngIf="productCategoryForm.get('Name').hasError('required')">
                                    Vui lòng nhập tên thể loại.
                                </div>
                                <div *ngIf="productCategoryForm.get('Name').hasError('maxlength')">
                                    Vui lòng nhập tên thể loại không quá 200 ký tự.
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-md-2 col-form-label" for="txtDescription">Mô tả:</label>
                        <div class="col-md-10">
                            <textarea id="txtDescription" rows="3" class="form-control" formControlName="Description" [ngClass]="{
                              'is-valid': !productCategoryForm.controls['Description'].errors,
                              'is-invalid': productCategoryForm.controls['Description'].errors && (productCategoryForm.controls['Description'].dirty || productCategoryForm.controls['Description'].touched)
                            }"></textarea>
                            <div class="invalid-feedback">
                                <div *ngIf="productCategoryForm.get('Description').hasError('maxlength')">
                                    Vui lòng nhập mô tả không quá 500 ký tự.
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-md-2 col-form-label" for="txtImage">Hình ảnh:</label>
                        <div class="col-md-5">
                            <input id="txtImage" class="form-control" type="file" placeholder="Đường dẫn ảnh" (change)="readUrl($event)">
                        </div>
                        <label class="col-md-2 col-form-label" for="txtSortOrder">Thứ tự hiện thị:</label>
                        <div class="col-md-3">
                            <input type="text" class="form-control" id="txtSortOrder" formControlName="SortOrder" [ngClass]="{
                                'is-valid': !productCategoryForm.controls['SortOrder'].errors,
                                'is-invalid': productCategoryForm.controls['SortOrder'].errors && (productCategoryForm.controls['SortOrder'].dirty || productCategoryForm.controls['SortOrder'].touched)
                              }">
                            <div class="invalid-feedback">
                                <div *ngIf="productCategoryForm.get('SortOrder').hasError('required')">
                                    Vui lòng nhập thứ tự hiển thị.
                                </div>
                                <div *ngIf="productCategoryForm.get('SortOrder').hasError('pattern')">
                                    Vui lòng nhập đúng định dạng số.
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-md-2 col-form-label" for="txtSeoPageTitle">Tiêu đề SEO:</label>
                        <div class="col-md-10">
                            <input type="text" id="txtSeoPageTitle" class="form-control" formControlName="SeoPageTitle" [ngClass]="{
                                'is-valid': !productCategoryForm.controls['SeoPageTitle'].errors,
                                'is-invalid': productCategoryForm.controls['SeoPageTitle'].errors && (productCategoryForm.controls['SeoPageTitle'].dirty || productCategoryForm.controls['SeoPageTitle'].touched)
                              }">
                            <div class="invalid-feedback">
                                <div *ngIf="productCategoryForm.get('SeoPageTitle').hasError('maxlength')">
                                    Vui lòng nhập tiêu đề seo không quá 200 ký tự.
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-md-2 col-form-label" for="txtSeoKeywords">Từ khóa SEO:</label>
                        <div class="col-md-10">
                            <input type="text" id="txtSeoKeywords" class="form-control" formControlName="SeoKeywords" [ngClass]="{
                                    'is-valid': !productCategoryForm.controls['SeoKeywords'].errors,
                                    'is-invalid': productCategoryForm.controls['SeoKeywords'].errors && (productCategoryForm.controls['SeoKeywords'].dirty || productCategoryForm.controls['SeoKeywords'].touched)
                                  }">
                            <div class="invalid-feedback">
                                <div *ngIf="productCategoryForm.get('SeoKeywords').hasError('maxlength')">
                                    Vui lòng nhập từ khóa seo không quá 200 ký tự.
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-md-2 col-form-label" for="txtSeoDescription">Mô tả SEO:</label>
                        <div class="col-md-10">
                            <input type="text" id="txtSeoDescription" class="form-control" formControlName="SeoDescription" [ngClass]="{
                                        'is-valid': !productCategoryForm.controls['SeoDescription'].errors,
                                        'is-invalid': productCategoryForm.controls['SeoDescription'].errors && (productCategoryForm.controls['SeoDescription'].dirty || productCategoryForm.controls['SeoDescription'].touched)
                                      }">
                            <div class="invalid-feedback">
                                <div *ngIf="productCategoryForm.get('SeoDescription').hasError('maxlength')">
                                    Vui lòng nhập mô tả seo không quá 200 ký tự.
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-md-2 col-form-label">Trạng thái:</label>
                        <div class="col-md-10 d-flex align-items-center">
                            <label class="switch switch-icon switch-success switch-lg">
                                <input type="checkbox" class="switch-input">
                                <span class="switch-label" data-on="&#xf00c;" data-off="&#xf023;"></span>
                                <span class="switch-handle"></span>
                            </label>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" (click)="modalAddEdit.hide()">
                        <i class="fa fa-times"></i> Hủy
                    </button>
                    <button type="submit" [disabled]="productCategoryForm.invalid" class="btn btn-success">
                        <i class="fa fa-floppy-o"></i> Lưu
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>