<!--/.row-->
<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-header">
                <i class="fa fa-align-justify"></i> Danh sách thể loại sản phẩm
            </div>
            <div class="card-body">
                <div class="row my-2">
                    <div class="col-4">
                        <div class="input-group">
                            <span class="input-group-prepend">
                                <button type="button" class="btn btn-primary" tooltip="Tìm kiếm">
                                    <i class="fa fa-search"></i>
                                </button>
                            </span>
                            <input type="text" class="form-control" placeholder="Nhập từ khóa cần tìm" (keyup)="search($event.target.value, tree.treeModel)">
                        </div>
                    </div>
                    <div class="col-8">
                        <button *ngIf="authService.hasPermission('PRODUCT_CATEGORY', 'create')" type="button" (click)="showAddNew()" class="btn btn-success float-right">
                            <i class="fa fa-plus"></i> Thêm mới
                        </button>
                    </div>
                </div>
                <hr />
                <div>
                    <alert type="danger" class="text-center" *ngIf="!(productCategorySearchResult?.length)">
                        Không tìm thấy dữ liệu.
                    </alert>
                    <tree-root #tree [nodes]="productCategoryHierarchies" [options]="options">
                        <ng-template #treeNodeTemplate let-node let-index="index">
                            <span>{{ node.data.Name }}</span>
                            <button *ngIf="authService.hasPermission('PRODUCT_CATEGORY', 'update')" class="btn btn-sm btn-primary" (click)="showEdit(node.data.Id)" tooltip="Sửa" placement="right">
                                <i class="fa fa-pencil" aria-hidden="true"></i>
                            </button>
                            <button *ngIf="authService.hasPermission('PRODUCT_CATEGORY', 'delete')" class="btn btn-sm btn-danger" (click)="delete(node.data.Id)" tooltip="Xóa" placement="right">
                                <i class="fa fa-trash" aria-hidden="true"></i>
                            </button>
                            <span [class]="node.data.Status == 0 ? 'badge badge-danger': 'badge badge-success'">
                                <i [class]="node.data.Status == 0 ? 'fa fa-lock' : 'fa fa-check'"></i>
                                {{node.data.Status == 0 ? 'Khóa' : 'Kích hoạt'}}
                            </span>
                        </ng-template>
                    </tree-root>
                </div>
            </div>
        </div>
    </div>
    <!--/.col-->
</div>

<product-category-modal-add-edit #productCategoryModalAddEdit (saveChangesResult)="saveChanges($event)"></product-category-modal-add-edit>