<!--/.row-->
<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-header">
                <i class="fa fa-align-justify"></i> Danh sách thể loại sản phẩm
            </div>
            <div class="card-body">
                <div class="row my-2">
                    <div class="col-4">
                        <div class="input-group">
                            <span class="input-group-prepend">
                                <button type="button" class="btn btn-primary">
                                    <i class="fa fa-search"></i> Tìm kiếm</button>
                            </span>
                            <input type="text" class="form-control" placeholder="Nhập từ khóa" (keyup)="search($event.target.value, tree.treeModel)">
                        </div>
                    </div>
                    <div class="col-8">
                        <button type="button" (click)="showAddNew()" class="btn btn-success float-right">
                            <i class="fa fa-plus"></i> Thêm mới
                        </button>
                    </div>
                </div>
                <hr />
                <div>
                    <alert type="danger" class="text-center" *ngIf="!(productCategorySearchResult?.length)">
                        Không tìm thấy dữ liệu.
                    </alert>
                    <tree-root #tree [nodes]="productCategoryHierarchies" [options]="options">
                        <ng-template #treeNodeTemplate let-node let-index="index">
                            <span>{{ node.data.Name }}</span>
                            <button class="btn btn-sm btn-primary" (click)="showEdit(node.data.Id)" tooltip="Sửa" placement="left">
                                <i class="fa fa-pencil" aria-hidden="true"></i>
                            </button>
                            <button class="btn btn-sm btn-danger" (click)="delete(node.data.Id)" tooltip="Xóa" placement="right">
                                <i class="fa fa-trash" aria-hidden="true"></i>
                            </button>
                        </ng-template>
                    </tree-root>
                </div>
            </div>
        </div>
    </div>
    <!--/.col-->
</div>

<div bsModal #modalAddEdit="bs-modal" [config]="{backdrop: 'static'}" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">{{modalTitle}}</h4>
                <button type="button" class="close" (click)="modalAddEdit.hide(); formAddEdit.resetForm()" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form class="form-horizontal" #formAddEdit="ngForm" (ngSubmit)="saveChanges(formAddEdit)" novalidate autocomplete="off">
                <input type="hidden" [value]="entity.Id" name="id">
                <input type="hidden" [value]="entity.SeoAlias" name="seoAlias">
                <input type="hidden" [value]="entity.DateCreated" name="dateCreated">
                
                <div class="modal-body">
                    <div class="form-group row">
                        <label class="col-md-2 col-form-label">Đường dẫn SEO:</label>
                        <div class="col-md-10 d-flex align-items-center">
                            <a href="javascript:void(0)">
                                {{baseApi}}/{{entity.SeoAlias}}
                            </a>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-md-2 col-form-label" for="txtName">Tên thể loại:</label>
                        <div class="col-md-4">
                            <input type="text" id="txtName" class="form-control" name="name" [(ngModel)]="entity.Name" #name="ngModel" required maxlength="200"
                                (keyup)="makeSeoAlias($event.target.value)" [ngClass]="{
                                    'is-valid': name.valid,
                                    'is-invalid': name.invalid && (name.dirty || name.touched)
                                  }">
                            <div class="invalid-feedback">
                                <div *ngIf="name.errors?.required">
                                    Vui lòng nhập tên thể loại.
                                </div>
                            </div>
                        </div>
                        <label class="col-md-2 col-form-label" for="ddlParent">Danh mục cha:</label>
                        <div class="col-md-4">
                            <select id="ddlParent" class="form-control" name="parentId" [(ngModel)]="entity.ParentId">
                                <option value="">--- Chọn danh mục ---</option>
                                <option *ngFor="let item of parentProductCategories" [value]="item.Id">{{item.Name}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-md-2 col-form-label" for="txtDescription">Mô tả:</label>
                        <div class="col-md-10">
                            <textarea id="txtDescription" rows="3" class="form-control" name="description" [(ngModel)]="entity.Description" #description="ngModel" maxlength="500"></textarea>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-md-2 col-form-label" for="txtImage">Hình ảnh:</label>
                        <div class="col-md-5">
                            <input id="txtImage" class="form-control" type="file" placeholder="Đường dẫn ảnh" (change)="readUrl($event)">
                        </div>
                        <label class="col-md-2 col-form-label" for="txtSortOrder">Thứ tự hiện thị:</label>
                        <div class="col-md-3">
                            <input type="number" class="form-control" id="txtSortOrder" name="sortOrder" [(ngModel)]="entity.SortOrder" #sortOrder="ngModel">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-md-2 col-form-label" for="txtSeoPageTitle">Tiêu đề SEO:</label>
                        <div class="col-md-10">
                            <input type="text" id="txtSeoPageTitle" class="form-control" name="seoPageTitle" [(ngModel)]="entity.SeoPageTitle" #seoPageTitle="ngModel" maxlength="200">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-md-2 col-form-label" for="txtSeoKeywords">Từ khóa SEO:</label>
                        <div class="col-md-10">
                            <input type="text" id="txtSeoKeywords" class="form-control" name="seoKeywords" [(ngModel)]="entity.SeoKeywords" #seoKeywords="ngModel" maxlength="200">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-md-2 col-form-label" for="txtSeoDescription">Mô tả SEO:</label>
                        <div class="col-md-10">
                            <input type="text" id="txtSeoDescription" class="form-control" name="seoDescription" [(ngModel)]="entity.SeoDescription" maxlength="200">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-md-2 col-form-label">Trạng thái:</label>
                        <div class="col-md-10 d-flex align-items-center">
                            <label class="switch switch-icon switch-success switch-lg">
                                <input type="checkbox" class="switch-input" name="status" [(ngModel)]="entity.Status" #status="ngModel">
                                <span class="switch-label" data-on="&#xf00c;" data-off="&#xf023;"></span>
                                <span class="switch-handle"></span>
                            </label>
                        </div>
                    </div> 
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" (click)="modalAddEdit.hide(); formAddEdit.resetForm()">
                        <i class="fa fa-times"></i> Hủy
                    </button>
                    <button type="submit" [disabled]="!formAddEdit.form.valid" class="btn btn-success">
                        <i class="fa fa-floppy-o"></i> Lưu
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>