thead {
    background-color: #29363D; 
    color: #FFF;

    th {
        text-align: center;
    }
}

#txtSearchKeyword {
    width: 6rem;
}

#txtSearchDateRange {
    background-color: #FFF;
}

.cell-center {
    text-align: center;
}

.fa-info {
    color: #FFF;
}