<!--/.row-->
<div class="row">
  <div class="col-lg-12">
    <div class="card">
      <div class="card-header">
        <i class="fa fa-align-justify"></i> Danh sách hóa đơn
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col-12">
            <div class="input-group">
              <span class="input-group-prepend">
                <button type="button" class="btn btn-primary" tooltip="Tìm kiếm">
                  <i class="fa fa-search"></i>
                </button>
              </span>
              <input type="text" id="txtSearchKeyword" class="form-control" placeholder="Nhập tên khách hàng và nhấn enter để tìm" [(ngModel)]="filterKeyword" (keyup.enter)="loadData()">
              <input readonly id="txtSearchDateRange" placeholder="Chọn thời gian cần tìm" class="form-control" #drp="bsDaterangepicker"
                bsDaterangepicker [bsConfig]="bsConfig" [maxDate]="maxDate" [(ngModel)]="bsRangeValue" (ngModelChange)="searchDateRange($event)">
              <select class="form-control" [(ngModel)]="paymentMethodValue" (ngModelChange)="loadData()">
                <option value="">Chọn phương thức cần tìm</option>
                <option *ngFor="let item of paymentMethods$ | async" [value]="item.Value">{{item.Name}}</option>
              </select>
              <select class="form-control" [(ngModel)]="billStatusValue" (ngModelChange)="loadData()">
                <option value="">Chọn trạng thái cần tìm</option>
                <option *ngFor="let item of billStatuses$ | async" [value]="item.Value">{{item.Name}}</option>
              </select>
              <button class="btn btn-default" (click)="resetFormSearch()" tooltip="Đặt lại" placement="right">
                <i class="fa fa-undo"></i>
              </button>
            </div>
          </div>
        </div>
        <hr>
        <div class="row mb-2">
          <div class="col-12">
            <button type="button" (click)="deleteMulti()" class="btn btn-danger float-right ml-1" tooltip="Xóa theo lựa chọn" [disabled]="!selectedAll && nothingSelected">
              <i class="fa fa-trash"></i>
            </button>
            <button type="button" (click)="showAddNew()" class="btn btn-success float-right">
              <i class="fa fa-plus"></i> Thêm mới
            </button>
          </div>
        </div>
        <table class="table table-bordered table-hover">
          <thead>
            <tr>
              <th style="width: 5%; text-align: center;">
                <div class="custom-control custom-checkbox" *ngIf="!(totalRow === 0)">
                  <input type="checkbox" class="custom-control-input" id="chkAll" [(ngModel)]="selectedAll" (change)="selectAll();">
                  <label class="custom-control-label" for="chkAll"></label>
                </div>
              </th>
              <th style="width: 25%;">Tên khách hàng</th>
              <th style="width: 15%;">Ngày đặt hàng</th>
              <th style="width: 20%;">Phương thức thanh toán</th>
              <th style="width: 20%;">Trạng thái đơn hàng</th>
              <th style="width: 15%;">Hành động</th>
            </tr>
          </thead>
          <tbody *ngIf="!isLoading; else loading">
            <tr *ngIf="!(totalRow); else hasData">
              <td colspan="6" class="text-center text-danger">Không tìm thấy dữ liệu.</td>
            </tr>
            <ng-template #hasData>
              <tr *ngFor="let item of bills" [ngClass]="{'table-active': item.Selected}">
                <td class="cell-center">
                  <div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" id="chk{{item.Id}}" [(ngModel)]="item.Selected" (change)="checkIfAllSelected();">
                    <label class="custom-control-label" for="chk{{item.Id}}"></label>
                  </div>
                </td>
                <td>{{item.CustomerName}}</td>
                <td>{{item.DateCreated | date:'dd/MM/yyyy'}}</td>
                <td>{{item.PaymentMethodName | async}}</td>
                <td>{{item.BillStatusName | async}}</td>
                <td class="cell-center">
                  <button type="button" (click)="showEdit(item.Id)" class="btn btn-primary btn-sm" tooltip="Sửa">
                    <i class="fa fa-pencil"></i>
                  </button>
                  <button class="btn btn-info btn-sm" tooltip="Xem">
                    <i class="fa fa-info"></i>
                  </button>
                  <button type="button" (click)="delete(item.Id)" class="btn btn-danger btn-sm" tooltip="Xóa">
                    <i class="fa fa-trash"></i>
                  </button>
                </td>
              </tr>
            </ng-template>
          </tbody>
          <ng-template #loading>
            <tbody>
              <tr>
                <td colspan="6">
                  <loading-spinner></loading-spinner>
                </td>
              </tr>
            </tbody>
          </ng-template>
          <tfoot *ngIf="!(totalRow === 0)">
            <tr>
              <td colspan="6">Đang xem {{firstRow}} đến {{lastRow}} trong tổng số {{totalRow}} mục</td>
            </tr>
          </tfoot>
        </table>
        <div class="row" *ngIf="!(totalRow === 0)">
          <div class="col-6 d-flex flex-row justify-content-start align-items-center">
            <div>Hiển thị:</div>
            <select class="form-control mx-1" style="width: 6rem;" [(ngModel)]="lengthMenu" (change)="changeLengthMenu($event)">
              <option value="10" selected>10</option>
              <option value="20">20</option>
              <option value="50">50</option>
              <option value="100">100</option>
              <option value="-1">Tất cả</option>
            </select>
            <div class="float-left">mục</div>
          </div>
          <div class="col-6 d-flex flex-row justify-content-end align-items-center">
            <pagination *ngIf="!(pageCount <= 1)" [boundaryLinks]="true" [itemsPerPage]="pageSize" [maxSize]="pageDisplay" (pageChanged)="pageChanged($event)"
              [totalItems]="totalRow" [(ngModel)]="pageIndex" class="pagination-md" previousText="&lsaquo;" nextText="&rsaquo;"
              firstText="&laquo;" lastText="&raquo;"></pagination>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--/.col-->
</div>

<bill-modal-add-edit #billModalAddEdit (saveChangesResult)="saveChanges($event)"></bill-modal-add-edit>