<!--/.row-->
<div class="row">
  <div class="col-lg-12">
    <div class="card">
      <div class="card-header">
        <i class="fa fa-edit"></i> Sửa thông tin sản phẩm
      </div>
      <div class="card-body">
        <form class="form-horizontal" [formGroup]="productEditForm" (ngSubmit)="saveChanges()" novalidate autocomplete="off">
          <div class="form-group row">
            <label class="col-md-2 col-form-label">Đường dẫn SEO:</label>
            <div class="col-md-10 d-flex align-items-center">
              <a href="javascript:void(0)">
                {{baseApi}}/{{seoAlias}}
              </a>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-md-2 col-form-label" for="txtName">Tên sản phẩm:</label>
            <div class="col-md-10">
              <input type="text" id="txtName" class="form-control" formControlName="Name" (keyup)="makeSeoAlias($event.target.value)" [ngClass]="{
                'is-valid': !productEditForm.controls['Name'].errors,
                'is-invalid': productEditForm.controls['Name'].errors && (productEditForm.controls['Name'].dirty || productEditForm.controls['Name'].touched)
              }">
              <div class="invalid-feedback">
                <div *ngIf="productEditForm.get('Name').hasError('required')">
                  Vui lòng nhập tên sản phẩm.
                </div>
                <div *ngIf="productEditForm.get('Name').hasError('maxlength')">
                  Vui lòng nhập tên sản phẩm không quá 200 ký tự.
                </div>
              </div>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-md-2 col-form-label" for="ddlCategory">Thể loại:</label>
            <div class="col-md-10">
              <select id="ddlCategory" class="form-control" formControlName="CategoryId" [ngClass]="{
                'is-valid': !productEditForm.controls['CategoryId'].errors,
                'is-invalid': productEditForm.controls['CategoryId'].errors && (productEditForm.controls['CategoryId'].dirty || productEditForm.controls['CategoryId'].touched)
              }">
                <option value="">--- Chọn thể loại ---</option>
                <option *ngFor="let item of productCategoryHierachies" [value]="item.Id">{{item.Name}}</option>
              </select>
              <div class="invalid-feedback">
                <div *ngIf="productEditForm.get('CategoryId').hasError('required')">
                  Vui lòng chọn thể loại sản phẩm.
                </div>
              </div>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-md-2 col-form-label" for="txtDescription">Mô tả:</label>
            <div class="col-md-10">
              <textarea id="txtDescription" rows="3" class="form-control" formControlName="Description" [ngClass]="{
                'is-valid': !productEditForm.controls['Description'].errors,
                'is-invalid': productEditForm.controls['Description'].errors && (productEditForm.controls['Description'].dirty || productEditForm.controls['Description'].touched)
              }"></textarea>
              <div class="invalid-feedback">
                <div *ngIf="productEditForm.get('Description').hasError('maxlength')">
                  Vui lòng nhập mô tả không quá 500 ký tự.
                </div>
              </div>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-md-2 col-form-label" for="txtContent">Nội dung:</label>
            <div class="col-md-10">
              <!-- <ckeditor formControlName="Content" [config]="{uiColor: '#a4a4a4', extraPlugins: 'colorbutton,uploadimage', filebrowserImageUploadUrl: 'http://localhost:53887/api/Upload/UploadImageForCKEditor'}"
                      debounce="500">
                    </ckeditor> -->
              <div formControlName="Content" [froalaEditor]="froalaOptions"></div>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-md-2 col-form-label" for="txtImage">Hình ảnh:</label>
            <div class="col-md-10">
              <div class="input-group" (click)="fileImage.value='';fileImage.click()">
                <input id="txtImage" #txtImage class="form-control" type="text" readonly placeholder="Chọn hình ảnh" formControlName="Image" [ngClass]="{
                  'is-valid': !productEditForm.controls['Image'].errors,
                  'is-invalid': productEditForm.controls['Image'].errors && (productEditForm.controls['Image'].dirty || productEditForm.controls['Image'].touched)
                }">
                <input type="file" #fileImage (change)="changeFileImage($event.target.files)" style="display: none;">
                <span class="input-group-append">
                  <button class="btn btn-default" type="button">Trình duyệt</button>
                </span>
              </div>
              <div class="invalid-feedback">
                <div *ngIf="productEditForm.get('Image').hasError('maxlength')">
                  Vui lòng chọn đường dẫn ảnh không quá 250 ký tự.
                </div>
              </div>
              <div *ngIf="!!(imageUrl)">
                <img [src]="imageUrl" alt="Xem trước" width="250" height="250" class="img-thumbnail mt-2">
                <button type="button" id="btnRemoveImage" (click)="fileImage.value='';txtImage.value='';imageUrl=''" class="btn btn-light"
                  tooltip="Xóa ảnh">
                  <i class="fa fa-times"></i>
                </button>
              </div>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-md-2 col-form-label" for="txtPrice">Giá bán:</label>
            <div class="col-md-4">
              <input type="text" class="form-control" id="txtPrice" [textMask]="{mask: numberMask}" formControlName="Price" [ngClass]="{
                'is-valid': !productEditForm.controls['Price'].errors,
                'is-invalid': productEditForm.controls['Price'].errors && (productEditForm.controls['Price'].dirty || productEditForm.controls['Price'].touched)
              }">
              <div class="invalid-feedback">
                <div *ngIf="productEditForm.get('Price').hasError('required')">
                  Vui lòng nhập giá bán.
                </div>
              </div>
            </div>
            <label class="col-md-2 col-form-label" for="txtOriginalPrice">Giá gốc:</label>
            <div class="col-md-4">
              <input type="text" class="form-control" id="txtOriginalPrice" [textMask]="{mask: numberMask}" formControlName="OriginalPrice"
                [ngClass]="{
                  'is-valid': !productEditForm.controls['OriginalPrice'].errors,
                  'is-invalid': productEditForm.controls['OriginalPrice'].errors && (productEditForm.controls['OriginalPrice'].dirty || productEditForm.controls['OriginalPrice'].touched)
                }">
              <div class="invalid-feedback">
                <div *ngIf="productEditForm.get('OriginalPrice').hasError('required')">
                  Vui lòng nhập giá gốc.
                </div>
              </div>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-md-2 col-form-label" for="txtPromotionPrice">Giá khuyến mãi:</label>
            <div class="col-md-4">
              <input type="text" class="form-control" id="txtPromotionPrice" [textMask]="{mask: numberMask}" formControlName="PromotionPrice"
                [ngClass]="{
                  'is-valid': !productEditForm.controls['PromotionPrice'].errors,
                  'is-invalid': productEditForm.controls['PromotionPrice'].errors && (productEditForm.controls['PromotionPrice'].dirty || productEditForm.controls['PromotionPrice'].touched)
              }">
            </div>
            <label class="col-md-2 col-form-label" for="txtUnit">Đơn vị:</label>
            <div class="col-md-4">
              <input type="text" class="form-control" id="txtUnit" formControlName="Unit" [ngClass]="{
                'is-valid': !productEditForm.controls['Unit'].errors,
                'is-invalid': productEditForm.controls['Unit'].errors && (productEditForm.controls['Unit'].dirty || productEditForm.controls['Unit'].touched)
              }">
              <div class="invalid-feedback">
                <div *ngIf="productEditForm.get('Unit').hasError('maxlength')">
                  Vui lòng nhập đơn vị không quá 100 ký tự.
                </div>
              </div>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-md-2 col-form-label" for="txtTags">Thẻ:</label>
            <div class="col-md-10">
              <tag-input id="txtTags" [placeholder]="'Thêm thẻ'" [secondaryPlaceholder]="'Nhập tên thẻ'" [modelAsStrings]="true" [(ngModel)]="tagItems"
                [ngModelOptions]="{standalone: true}" theme="minimal" [separatorKeyCodes]="[9]"></tag-input>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-md-2 col-form-label" for="txtSeoPageTitle">Tiêu đề SEO:</label>
            <div class="col-md-10">
              <input type="text" id="txtSeoPageTitle" class="form-control" formControlName="SeoPageTitle" [ngClass]="{
                'is-valid': !productEditForm.controls['SeoPageTitle'].errors,
                'is-invalid': productEditForm.controls['SeoPageTitle'].errors && (productEditForm.controls['SeoPageTitle'].dirty || productEditForm.controls['SeoPageTitle'].touched)
              }">
              <div class="invalid-feedback">
                <div *ngIf="productEditForm.get('SeoPageTitle').hasError('maxlength')">
                  Vui lòng nhập tiêu đề seo không quá 200 ký tự.
                </div>
              </div>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-md-2 col-form-label" for="txtSeoKeywords">Từ khóa SEO:</label>
            <div class="col-md-10">
              <input type="text" id="txtSeoKeywords" class="form-control" formControlName="SeoKeywords" [ngClass]="{
                'is-valid': !productEditForm.controls['SeoKeywords'].errors,
                'is-invalid': productEditForm.controls['SeoKeywords'].errors && (productEditForm.controls['SeoKeywords'].dirty || productEditForm.controls['SeoKeywords'].touched)
              }">
              <div class="invalid-feedback">
                <div *ngIf="productEditForm.get('SeoKeywords').hasError('maxlength')">
                  Vui lòng nhập từ khóa seo không quá 250 ký tự.
                </div>
              </div>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-md-2 col-form-label" for="txtSeoDescription">Mô tả SEO:</label>
            <div class="col-md-10">
              <input type="text" id="txtSeoDescription" class="form-control" formControlName="SeoDescription" [ngClass]="{
                  'is-valid': !productEditForm.controls['SeoDescription'].errors,
                  'is-invalid': productEditForm.controls['SeoDescription'].errors && (productEditForm.controls['SeoDescription'].dirty || productEditForm.controls['SeoDescription'].touched)
                }">
              <div class="invalid-feedback">
                <div *ngIf="productEditForm.get('SeoDescription').hasError('maxlength')">
                  Vui lòng nhập mô tả seo không quá 250 ký tự.
                </div>
              </div>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-md-2 col-form-label">Trạng thái:</label>
            <div class="col-md-10 d-flex align-items-center">
              <label class="switch switch-icon switch-success switch-lg">
                <input type="checkbox" class="switch-input" formControlName="Status">
                <span class="switch-label" data-on="&#xf00c;" data-off="&#xf023;"></span>
                <span class="switch-handle"></span>
              </label>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-md-2 col-form-label">Sản phẩm hot:</label>
            <div class="col-md-10 d-flex align-items-center">
              <label class="switch switch-icon switch-danger switch-lg">
                <input type="checkbox" class="switch-input" formControlName="HotFlag">
                <span class="switch-label" data-on="&#xf00c;" data-off="&#xf00d;"></span>
                <span class="switch-handle"></span>
              </label>
            </div>
          </div>
          <div class="form-group row">
            <div class="col-md-10 offset-md-2">
              <button type="submit" [disabled]="productEditForm.invalid" class="btn btn-success">
                <i class="fa fa-floppy-o"></i> Lưu
              </button>
              <button type="button" class="btn btn-danger" (click)="location.back()">
                <i class="fa fa-times"></i> Hủy
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
  <!--/.col-->
</div>