<!--/.row-->
<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-header">
                <i class="fa fa-align-justify"></i> Danh sách sản phẩm
            </div>
            <div class="card-body">
                <div class="row mb-2">
                    <div class="col-7">
                        <div class="input-group">
                            <span class="input-group-prepend">
                                <button type="button" class="btn btn-primary" tooltip="Tìm kiếm">
                                    <i class="fa fa-search"></i>
                                </button>
                            </span>
                            <input type="text" class="form-control" placeholder="Nhập tên sản phẩm cần tìm" [(ngModel)]="filterKeyword" (keyup)="loadData()">
                            <select class="form-control" [(ngModel)]="filterCategory" (change)="loadData()">
                                <option value="">--- Chọn thể loại cần tìm ---</option>
                                <option *ngFor="let item of productCategoryHierachies" [value]="item.Id">{{item.Name}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-5">
                        <button *ngIf="authService.hasPermission('PRODUCT_LIST', 'delete')" type="button" (click)="deleteMulti()" class="btn btn-danger float-right ml-1"
                            tooltip="Xóa theo lựa chọn" [disabled]="!selectedAll && nothingSelected">
                            <i class="fa fa-trash"></i>
                        </button>
                        <button type="button" (click)="exportExcel()" class="btn btn-info float-right ml-1" tooltip="Xuất file excel">
                            <i class="fa fa-level-up"></i>
                        </button>
                        <button type="button" (click)="importExcel()" class="btn btn-warning float-right ml-1" tooltip="Nhập file excel">
                            <i class="fa fa-level-down"></i>
                        </button>
                        <button type="button" (click)="downloadTemplate()" class="btn btn-primary float-right ml-1" tooltip="Tải mẫu excel">
                                <i class="fa fa-download"></i>
                            </button>
                        <button *ngIf="authService.hasPermission('PRODUCT_LIST', 'create')" type="button" (click)="showAddNew()" class="btn btn-success float-right">
                            <i class="fa fa-plus"></i> Thêm mới
                        </button>
                    </div>
                </div>
                <table class="table table-bordered table-hover">
                    <thead>
                        <tr>
                            <th style="width: 5%; text-align: center;">
                                <div class="custom-control custom-checkbox" *ngIf="!(totalRow === 0)">
                                    <input type="checkbox" class="custom-control-input" id="chkAll" [(ngModel)]="selectedAll" (change)="selectAll();">
                                    <label class="custom-control-label" for="chkAll"></label>
                                </div>
                            </th>
                            <th style="width: 12%;">Hình ảnh</th>
                            <th style="width: 18%;">Tên sản phẩm</th>
                            <th style="width: 18%;">Thể loại</th>
                            <th style="width: 15%;">Giá bán</th>
                            <th style="width: 10%;">Ngày tạo</th>
                            <th style="width: 10%;">Trạng thái</th>
                            <th style="width: 12%;">Hành động</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngIf="!(totalRow); else hasData">
                            <td colspan="8" class="text-center text-danger">Không tìm thấy dữ liệu.</td>
                        </tr>
                        <ng-template #hasData>
                            <tr *ngFor="let item of products" [ngClass]="{'table-active': item.Selected}">
                                <td class="cell-center">
                                    <div class="custom-control custom-checkbox">
                                        <input type="checkbox" class="custom-control-input" id="chk{{item.Id}}" [(ngModel)]="item.Selected" (change)="checkIfAllSelected();">
                                        <label class="custom-control-label" for="chk{{item.Id}}"></label>
                                    </div>
                                </td>
                                <td class="cell-center">
                                    <img [src]="item.Image == null ? noImage : (baseApi + item.Image)" width="100" height="100" />
                                </td>
                                <td>{{item.Name}}</td>
                                <td>{{item.ProductCategory.Name}}</td>
                                <td>{{item.Price | number:'.0'}} VNĐ</td>
                                <td>{{item.DateCreated | date:'dd/MM/yyyy'}}</td>
                                <td class="cell-center">
                                    <a href="javascript:void(0)">
                                        <span [class]="item.Status == 0 ? 'badge badge-danger': 'badge badge-success'">
                                            <i [class]="item.Status == 0 ? 'fa fa-lock' : 'fa fa-check'"></i>
                                            {{item.Status == 0 ? 'Khóa' : 'Kích hoạt'}}
                                        </span>
                                    </a>
                                </td>
                                <td class="cell-center">
                                    <button *ngIf="authService.hasPermission('PRODUCT_LIST', 'update')" type="button" (click)="showEdit(item.Id)" class="btn btn-primary btn-sm"
                                        tooltip="Sửa">
                                        <i class="fa fa-pencil"></i>
                                    </button>
                                    <button type="button" (click)="showView(item.Id)" class="btn btn-info btn-sm" tooltip="Xem">
                                        <i class="fa fa-info"></i>
                                    </button>
                                    <button *ngIf="authService.hasPermission('PRODUCT_LIST', 'delete')" type="button" (click)="delete(item.Id)" class="btn btn-danger btn-sm"
                                        tooltip="Xóa">
                                        <i class="fa fa-trash"></i>
                                    </button>
                                </td>
                            </tr>
                        </ng-template>
                    </tbody>
                    <tfoot *ngIf="!(totalRow === 0)">
                        <tr>
                            <td colspan="8">Đang xem {{firstRow}} đến {{lastRow}} trong tổng số {{totalRow}} mục</td>
                        </tr>
                    </tfoot>
                </table>
                <div class="row" *ngIf="!(totalRow === 0)">
                    <div class="col-6 d-flex flex-row justify-content-start align-items-center">
                        <div>Hiển thị:</div>
                        <select class="form-control mx-1" style="width: 6rem;" [(ngModel)]="lengthMenu" (change)="loadData()">
                            <option value="10" selected>10</option>
                            <option value="20">20</option>
                            <option value="50">50</option>
                            <option value="100">100</option>
                            <option value="-1">Tất cả</option>
                        </select>
                        <div class="float-left">mục</div>
                    </div>
                    <div class="col-6 d-flex flex-row justify-content-end align-items-center">
                        <pagination *ngIf="!(pageCount <= 1)" [boundaryLinks]="true" [itemsPerPage]="pageSize" [maxSize]="pageDisplay" (pageChanged)="pageChanged($event)"
                            [totalItems]="totalRow" [(ngModel)]="pageIndex" class="pagination-md" previousText="&lsaquo;" nextText="&rsaquo;"
                            firstText="&laquo;" lastText="&raquo;"></pagination>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--/.col-->
</div>

<ngx-spinner bdOpacity=0.9 bdColor="#333" size="large" color="#fff" type="ball-clip-rotate-multiple"></ngx-spinner>
<product-modal-add-edit #productModalAddEdit (saveChangesResult)="saveChanges($event)"></product-modal-add-edit>
<product-modal-import-excel #productModalImportExcel (saveChangesResult)="saveChangesImportExcel($event)"></product-modal-import-excel>