.selected-row {
    background-color: gray !important;
    color: white !important;
}

#txtTags {
    border: 1px solid #c2cfd6;
    padding: 0.375rem 0.75rem;
    font-size: 0.875rem;
}

.fa-info {
    color: #FFF;
}

#txtImage {
    background-color: #FFF !important;
}

#fileInputImage {
    display: none;
}